body * {
    border: solid 1px black;
    margin: 0;
    font-size: 35px;
}

body {
    width: 500px;
    height: 600px;
}

.content {
    background-color: grey;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content * {
    height: 20%;
}

.display {
    padding: 0;
}

.display-screen {
    height: 80%;
    margin-top: 10px;
    padding-right: 10px;
    background-color: rgb(193, 162, 162);
    display: flex;
    justify-content: right;
}

.display-screen > p {
    text-align: right;
    font-size: 50px;
    padding: 20px;
    border: none;
}

.center {
    display: flex;
    flex-direction: row;
    height: 60%;
}

.center-left {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.center-left > button {
    flex: 1 1 auto;
    min-width: 33%;
    height: 33.3%;
}

.center-right {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.center-right > button {
    width: 100%;
    flex: 1 1 auto;
    background-color: orange;
}

.bottom {
    display: flex;
}

.bottom > button {
    flex: 1 1 auto;
    height: 100%;
}
